/*Base (mobile first: < 480px)*/
.grid-group-main,
.grouped-grid-arrangement, .custom-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.black-48 {
  background: rgba(0, 0, 0, 0.48);
}


/*Small phones (480px+) */
@media (min-width: 480px) {
  .grid-group-main {
    grid-template-columns: 1fr 1fr;
  }

  .grouped-grid-arrangement {
    grid-template-columns: 1fr;
  }

}

/* Tablets portrait (768px+)*/
@media (min-width: 768px) {
  .grid-group-main {
    grid-template-columns: 1fr 2fr;
  }

  .grouped-grid-arrangement {
    grid-template-columns: 2fr 1fr;
  }
  
}

/*Tablets landscape / small laptops (1024px+) */
@media (min-width: 1024px) {
  .grid-group-main {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .grouped-grid-arrangement {
    grid-template-columns: 3fr 1fr;
  }

  .custom-grid{
    grid-template-columns: 2fr 3fr;
  }
  
  .custom-flex{
  flex-direction: row;
  }
  .custom-grid{
    grid-template-columns: 2fr 3fr;
  }
}

/*Desktops (1280px+)*/
@media (min-width: 1280px) {
  .grid-group-main {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1.5rem;
  }

  .grouped-grid-arrangement {
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
  }

  .custom-grid{
    grid-template-columns: 2fr 3fr;
  }

  .custom-flex{
  flex-direction:row;
  }

}

/*Wide screens (1536px+)*/
@media (min-width: 1536px) {
  .grid-group-main {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
  }

  .grouped-grid-arrangement {
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }
  .custom-grid{
    grid-template-columns: 2fr 3fr;
  }
}